.App{
  background-color: rgba(255, 255, 255, 0.5);
  /* margin: 0;
  padding: 0;
  top: 0; */
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
 }
video{
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #000;
  box-shadow: inset 0px 0px 0px 4px #dde8a0f0;
  }
  .tasty{
    background: #fff;
    padding: 24px 24px;
    outline: transparent;
    border: 1px solid black;
    box-shadow: inset 0px 0px 0px 4px #dde8a0f0;
    transition: box-shadow .2s ease-in-out;
    width: 200px;
  }
  li{
    display: block;
    padding: .2em .2em .2em .4em ;
    margin: .5em 5em .5em;
    background: #dde8a0f0;
  }
  li:hover{
    background: #DCDDE1;
  }
  ul{
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
  h1, h2, ul, p{
    font-family: "Scope One", serif;
    font-weight: 800;
    font-style: normal;
    
  }
  .icon{
    width: 30px;
  }
  button {
    margin-top: 10px;
    border: 1px solid #4f281f;
    padding: 2px 12px;
    background-color: transparent;
    outline: transparent;
    box-shadow: inset 0px 0px 0px 4px #dde8a0f0;
    transition: box-shadow .2s ease-in-out;
   }
    button:hover{
      background-color: #5b6429;
    }
  .par{
  color: #b01930;
  font-weight: bolder;
  font-family: "Scope One", serif;
  }
  .scope-one-regular {
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
    

 
